.containerAbout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.avatarIcone {
    position: relative;
    height: 16vmax;
    width: 16vmax;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    z-index: 10;
    border: solid 1em;
}

.circle-bg {
    position: absolute;
    background-color: #F6EDEF;
}
.circle-1 {
    height: 14vmax;
    width: 14vmax;
    transform: translate(-40%, -80%);
    z-index: 9;
}
.circle-2 {
    height: 12vmax;
    width: 12vmax;
    transform: translate(-40%, -120%);
    z-index: 8;
}

.descriptif, .avatar {
    padding: 2em;
}

.descriptif {
    max-width: 60%;
}

.citation{
    margin: 1em;
    color: #03989E;
}