.containerAbout {
    display: flex;
   
    align-items: center;
}

.avatarIcone {
    height: 10em;
    width: 10em;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.descriptif, .avatar {
    padding: 2em;
}

.citation{
    margin: 1em;
    color: #03989E;
}