
#navbarToggle, #navbarNav {
    justify-content: center;
}

.navbar {
    justify-content: center;
    background-color: #FFF;
}
.navbar ul li a {
    color: #6c757d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: small;

    position: relative;
    text-decoration: none;
}
.navbar ul li a:hover::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid #E0C3FC;
}

.navbar ul li .over-link:hover {
    color:#03989E;
    font-weight: 500;
}

.typed-title {
    padding: 2em;
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 200;
}
/* cursor Typed */
.typed-title span {
    font-size: 1.5em;
    font-family: 'Anthon', sans-serif;
}